@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato,sans-serif;
    font-weight: 300;
}

/* logos and headings*/

h1, h2 {
    font-family: oswald,sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-flora-westbrook-4191623.jpg) no-repeat;
    background-size: cover;
}

/* why make pasta */

#why-pasta {
    height: 600px;
}

#left-box {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-box {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-box {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width:100%;
    margin: 5px 0;
}

.left-box-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-box-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    margin-bottom: 50px;
}

.right-box-heading h2 {
    text-align: right;
}

.right-box-heading p {
    text-align: right;
}

#center-text {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#image-containment {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    margin: auto;
}

#box-image {
    background: url(/assets/images/pexels-katerina-holmes-5907591.jpg) no-repeat center center;
    height: 100%;
    background-size: cover;
}

/* The dates and times */

#when {
    background-image: url(/assets/images/pexels-klaus-nielsen-6287314.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#when div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#when h2 {
    color: #fafafa;
}

footer {
    height: 150px;

}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a
}